/.project
/.settings
/com.googlecode.mavennatives.m2eclipse.natives/.project
/com.googlecode.mavennatives.m2eclipse.natives/target
/com.googlecode.mavennatives.m2eclipse.natives/.classpath
/com.googlecode.mavennatives.m2eclipse.natives/.settings
/com.googlecode.mavennatives.m2eclipse.natives/bin
/com.googlecode.mavennatives.m2eclipse.natives.feature/.project
/com.googlecode.mavennatives.m2eclipse.natives.feature/target
/com.googlecode.mavennatives.m2eclipse.natives.feature/.settings
/com.googlecode.mavennatives.m2eclipse.natives.site/.project
/com.googlecode.mavennatives.m2eclipse.natives.site/target
/com.googlecode.mavennatives.m2eclipse.natives.site/.classpath
/com.googlecode.mavennatives.m2eclipse.natives.site/.settings
